<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">PR.js</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="#">Home</a>
        <a class="mdl-navigation__link" href="">Docs</a>
        <a class="mdl-navigation__link" href="">Examples</a>
        <a class="mdl-navigation__link" href="">About</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Examples</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Simple Button (non-loop)</a>
      <a class="mdl-navigation__link" href="">Bubbles</a>
      <a class="mdl-navigation__link" href="">Chain</a>
      <a class="mdl-navigation__link" href="">Morph</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content">
      <!-- Your content goes here -->
      <h1>
        {{title}}
      </h1>

      <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__tab-bar">
          <a href="#pr-panel" class="mdl-tabs__tab">PR.js</a>
          <a href="#comp-panel" class="mdl-tabs__tab is-active">Comp.js</a>
        </div>

        <div class="mdl-tabs__panel" id="pr-panel">
          <pr-app caption="Simple Button" description="Non-loop application." canvasWidth="640" canvasHeight="360" example="button"
            loop="false"></pr-app>
          <pr-app caption="Bubbles" description="Loop application." canvasWidth="640" canvasHeight="360" example="bubbles" loop="true"></pr-app>
          <pr-app caption="Chain" description="Loop application." canvasWidth="640" canvasHeight="360" example="chain" loop="true"></pr-app>
          <pr-app caption="Morph" description="Loop application." canvasWidth="640" canvasHeight="360" example="morph" loop="true"></pr-app>
          <!--<pr-app caption="Pointillism" description="Loop application." canvasWidth="720" canvasHeight="400" example="pointillism"
            loop="true"></pr-app>-->
          <pr-app caption="Simple Shapes" description="Non-loop application." canvasWidth="720" canvasHeight="400" example="shape"
            loop="false"></pr-app>
        </div>

        <div class="mdl-tabs__panel is-active" id="comp-panel">
          <div id="comp-test"></div>
        </div>
      </div>

    </div>
  </main>
</div>
